.fookin-a-box {
  position: relative;
  width: 350px;
  font-family: "Rustea", sans-serif;
  color: white;
  overflow: hidden;
}

.mb {
  position: absolute;
  inset: 0;
  z-index: 1;
  /* background-color: rgba(167, 219, 141); */
  -webkit-clip-path: polygon(
    calc(100% - 0px) 30px,
    calc(100% - 0px) calc(100% - 61px),
    calc(100% - 53px) calc(100% - 0px),
    0px calc(100% - 0px),
    0px 62px,
    calc(100% - 175px) 62px,
    calc(100% - 144px) 30px,
    calc(100% - 0px) 30px,
    calc(100% - 144px) 31px,
    calc(100% - 175px) 63px,
    1px 63px,
    1px calc(100% - 1px),
    calc(100% - 53px) calc(100% - 1px),
    calc(100% - 1px) calc(100% - 61px),
    calc(100% - 1px) 31px,
    calc(100% - 144px) 31px
  );
  clip-path: polygon(
    calc(100% - 0px) 30px,
    calc(100% - 0px) calc(100% - 61px),
    calc(100% - 53px) calc(100% - 0px),
    0px calc(100% - 0px),
    0px 62px,
    calc(100% - 175px) 62px,
    calc(100% - 144px) 30px,
    calc(100% - 0px) 30px,
    calc(100% - 144px) 31px,
    calc(100% - 175px) 63px,
    1px 63px,
    1px calc(100% - 1px),
    calc(100% - 53px) calc(100% - 1px),
    calc(100% - 1px) calc(100% - 61px),
    calc(100% - 1px) 31px,
    calc(100% - 144px) 31px
  );
}

.innerPolygonBorder {
  position: absolute;
  inset: 0;
  z-index: 2;
  /* background-color: #A7DB8D; */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  will-change: backdrop-filter;
  -webkit-clip-path: polygon(
    calc(100% - 10px) 40px,
    calc(100% - 10px) calc(100% - 71px),
    calc(100% - 58px) calc(100% - 10px),
    10px calc(100% - 10px),
    10px 72px,
    calc(100% - 165px) 72px,
    calc(100% - 134px) 40px
  );
  clip-path: polygon(
    calc(100% - 10px) 40px,
    calc(100% - 10px) calc(100% - 71px),
    calc(100% - 58px) calc(100% - 10px),
    10px calc(100% - 10px),
    10px 72px,
    calc(100% - 165px) 72px,
    calc(100% - 134px) 40px
  );
}

.innerPolygon {
  position: absolute;
  inset: 0;
  z-index: 3;
  background-color: rgba(17, 13, 6, 0.8);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  will-change: backdrop-filter;
  -webkit-clip-path: polygon(
    calc(100% - 12px) 42px,
    calc(100% - 12px) calc(100% - 73px),
    calc(100% - 60px) calc(100% - 12px),
    12px calc(100% - 12px),
    12px 74px,
    calc(100% - 163px) 74px,
    calc(100% - 132px) 42px
  );
  clip-path: polygon(
    calc(100% - 12px) 42px,
    calc(100% - 12px) calc(100% - 73px),
    calc(100% - 60px) calc(100% - 12px),
    12px calc(100% - 12px),
    12px 74px,
    calc(100% - 163px) 74px,
    calc(100% - 132px) 42px
  );
}

.heading-clip-mirrored {
  position: absolute;
  top: 0;
  left: 0;
  height: 62px;
  width: 350px;
  background-color: rgba(17, 13, 6, 0.3);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  will-change: backdrop-filter;
  -webkit-clip-path: polygon(
    calc(100% - 144px) 0,
    calc(100% - 144px) 30px,
    calc(100% - 176px) 100%,
    0% 100%,
    0% 0%
  );
  clip-path: polygon(
    calc(100% - 144px) 0,
    calc(100% - 144px) 30px,
    calc(100% - 176px) 100%,
    0% 100%,
    0% 0%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 4;
}

.clip-shape-mirrored {
  position: relative;
  padding: 80px 24px 24px;
  height: 350px;
  width: 350px;
  z-index: 5;
  -webkit-clip-path: polygon(
    calc(100% - 10px) 40px,
    calc(100% - 10px) calc(100% - 65px),
    calc(100% - 57px) calc(100% - 10px),
    10px calc(100% - 10px),
    10px 72px,
    calc(100% - 171px) 72px,
    calc(100% - 139px) 40px
  );
  clip-path: polygon(
    calc(100% - 10px) 40px,
    calc(100% - 10px) calc(100% - 65px),
    calc(100% - 57px) calc(100% - 10px),
    10px calc(100% - 10px),
    10px 72px,
    calc(100% - 171px) 72px,
    calc(100% - 139px) 40px
  );
}
