.cardR {
  position: relative;
  width: 350px;
  font-family: "Rustea", sans-serif;
  color: white;
}

/* Top clipped header */
.cardRTop {
  clip-path: polygon(144px 0, 144px 30px, 176px 100%, 100% 100%, 100% 0%);
  backdrop-filter: blur(22px);
  background-color: #727272;
  height: 62px;
  top: 0%;
  width: 350px;
  border-left: 1px solid #a7db8d;
  border-right: 1px solid #a7db8d;
  border-top: 1px solid #a7db8d;
  position: absolute;
  z-index: 2; /* sits above body */
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
}

/* Clipped body background */
.cardRBody {
  background-color: #a7db8d;
  height: 350px;
  width: 350px;
  clip-path: polygon(
    0px 30px,
    0px calc(100% - 61px),
    53px calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) 62px,
    175px 62px,
    144px 30px,
    0px 30px,
    144px 31px,
    175px 63px,
    calc(100% - 1px) 63px,
    calc(100% - 1px) calc(100% - 1px),
    53px calc(100% - 1px),
    1px calc(100% - 61px),
    1px 31px,
    144px 31px
  );
  -webkit-clip-path: polygon(
    0px 30px,
    0px calc(100% - 61px),
    53px calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) 62px,
    175px 62px,
    144px 30px,
    0px 30px,
    144px 31px,
    175px 63px,
    calc(100% - 1px) 63px,
    calc(100% - 1px) calc(100% - 1px),
    53px calc(100% - 1px),
    1px calc(100% - 61px),
    1px 31px,
    144px 31px
  );
  position: relative;
  z-index: 1;
}

/* Content sits above body but transparent */
.cardRContent {
  position: absolute;
  inset: 0;
  z-index: 3;
  padding: 80px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
