.cardR {
  position: relative;
  width: 350px;
  color: white;
}

.cardRTop {
  font-family: "Rustea", sans-serif;
  clip-path: polygon(144px 0, 144px 30px, 176px 100%, 100% 100%, 100% 0%);
  background-color: rgba(17, 13, 6, 0.3);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  will-change: backdrop-filter;
  height: 62px;
  top: 0%;
  border-left: #a7db8d;
  width: 350px;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
}

.cardRBody {
  height: 350px;
  width: 350px;
  clip-path: polygon(
    0px 30px,
    0px calc(100% - 61px),
    53px calc(100% - 0px),
    calc(100% - 0px) calc(100% - 0px),
    calc(100% - 0px) 62px,
    175px 62px,
    144px 30px,
    0px 30px,
    144px 31px,
    175px 63px,
    calc(100% - 1px) 63px,
    calc(100% - 1px) calc(100% - 1px),
    53px calc(100% - 1px),
    1px calc(100% - 61px),
    1px 31px,
    144px 31px
  );
  position: relative;
  z-index: 1;
}

.cardRInner {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(16, 16, 16,0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(200px);
  will-change: backdrop-filter;
  clip-path: polygon(
    12px 42px,
    12px calc(100% - 73px),
    60px calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) 74px,
    163px 74px,
    132px 42px
  );
}
.cardRInnerBorder {
  position: absolute;
  inset: 0;
  z-index: 0;
  /* opacity: 0.4; */
  /* background-color: #A7DB8D; */
  /* background-color: rgba(167, 219, 141, 0.2); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  will-change: backdrop-filter;
  clip-path: polygon(
    10px 40px,
    10px calc(100% - 71px),
    58px calc(100% - 10px),
    calc(100% - 10px) calc(100% - 10px),
    calc(100% - 10px) 72px,
    165px 72px,
    134px 40px
  );
}

.cardRContent {
  position: absolute;
  inset: 0;
  z-index: 4;
  font-size: 14px;
  padding: 90px 24px 28px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
