@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.mainH {
  position: relative;
  width: 50%;
  margin: 0 auto;
  z-index: 2;
  overflow: hidden;
  font-family: "Manrope", sans-serif;
}

.mainH::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  /* background: white; */

  will-change: backdrop-filter;
  z-index: 1;
  clip-path: polygon(
    8px 15px,
    8px calc(100% - 8px),
    calc(100% - 46px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 30px),
    calc(100% - 8px) 18px,
    calc(100% - 19px) 8px,
    113px 8px,
    104px 15px,
    8px 15px,
    105px 16px,
    114px 9px,
    calc(100% - 20px) 9px,
    calc(100% - 9px) 19px,
    calc(100% - 9px) calc(100% - 31px),
    calc(100% - 47px) calc(100% - 9px),
    9px calc(100% - 9px),
    9px 16px,
    106px 16px
  );
}

.mainH::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 80px;
  /* background: white;
  border: 2px solid white; */
  z-index: 1;
  clip-path: polygon(
    0px 8px,
    0px calc(100% - 0px),
    calc(100% - 42px) calc(100% - 0px),
    calc(100% - 0px) calc(100% - 25px),
    calc(100% - 0px) 14px,
    calc(100% - 18px) 0px,
    112px 0px,
    102px 8px,
    10px 8px,
    0px 8px,
    11px 9px,
    103px 9px,
    113px 1px,
    calc(100% - 19px) 1px,
    calc(100% - 1px) 15px,
    calc(100% - 1px) calc(100% - 26px),
    calc(100% - 43px) calc(100% - 1px),
    1px calc(100% - 1px),
    1px 9px,
    11px 9px
  );
}

.mainH .console {
  position: relative;
  z-index: 0;

  backdrop-filter: blur(15px);
  background-color: rgba(20, 20, 20, 0.3);
  clip-path: polygon(
    8px 15px,
    8px calc(100% - 8px),
    calc(100% - 46px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 30px),
    calc(100% - 8px) 18px,
    calc(100% - 19px) 8px,
    114px 8px,
    107px 15px
  );
}

/* .mainH > * {
  position: relative;
  z-index: 2;
} */
