@import "tailwindcss";

body {
  background-color: #1d1d1d;
  color: aliceblue;
}

.astro--sprite {
  height: 100%;
  width: auto;
  display: block;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
