@import "tailwindcss";

body {
  background-color: #1d1d1d;
  color: aliceblue;
}

.astro--sprite {
  height: 100%;
  width: auto;
  display: block;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.heading-clip-mirrored {
  width: 300px;
  cursor: pointer;
}

.heading-clip-mirrored::before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 144px;
  width: 1px;
  height: 30px;
  cursor: pointer;
  background-color: #df4f2b;
}

.heading-clip-mirrored {
  position: relative;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  line-height: 1;
  -webkit-clip-path: polygon(
    calc(100% - 144px) 0,
    calc(100% - 144px) 30px,
    calc(100% - 176px) 100%,
    0% 100%,
    0% 0%
  );
  clip-path: polygon(
    calc(100% - 144px) 0,
    calc(100% - 144px) 30px,
    calc(100% - 176px) 100%,
    0% 100%,
    0% 0%
  );
  cursor: pointer;
  background-color: rgba(49, 14, 0, 0.2);
  border: 1px solid var(--border-color, #df4f2b);
}
/*  */
.btn.top {
  -webkit-clip-path: polygon(29px 0%, 100% 0, 100% 100%, 0 100%, 0% 18px);
  clip-path: polygon(29px 0%, 100% 0, 100% 100%, 0 100%, 0% 18px);
}

.btn {
  position: relative;
  width: 150px;
  height: 45px;
  cursor: pointer;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  background-color: rgba(49, 14, 0, 0.2);
  border: 1px solid var(--border-color, #df4f2b);
}
